<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Running Platform" sequenceNumber="56">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.jpa.feature.group" version="2.3.1.v20110908-r10021"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
<location path="${project_loc}/bundles/geminiDb" type="Directory"/>
<location path="${project_loc}/bundles" type="Directory"/>
<location path="${project_loc}/bundles/geminiJpa" type="Directory"/>
<location path="${project_loc}/bundles/dataJpa_1.1" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.0.0.RELEASE"/>
<repository location="http://download.eclipse.org/gemini/dbaccess/updates/1.0/"/>
</location>
<location path="${project_loc}/bundles/3.1" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>de_DE</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
